body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 50px;
}
#heading {
  color: #ffa500;
}
.flexible-container {
  display: flex;
}
.header-section {
  background-image: url("../images/top-banner.png");
  background-repeat: no-repeat;
  padding-top: 2%;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width img {
  width: 80%;
}
.here-me {
  text-align: center;
  text-decoration: none;
  background-image: linear-gradient(tomato, green, red, yellow);
  padding: 10px 50px;
  border-radius: 10px;
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  font-family: cursive;
  color: #ffffff;
}
.here-me:hover {
  background-color: #008000;
  color: #ac8484;
}
.Dream-section {
  background-image: url("../images/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  margin-top: 5%;
}
.download-resume {
  text-align: center;
  text-decoration: none;
  background-image: linear-gradient(tomato, yellow);
  padding: 10px 50px;
  border-radius: 10px;
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  font-family: cursive;
  color: #ffffff;
}
.download-resume:hover {
  background-color: #008000;
  color: #ac8484;
}
.experiences {
  background-image: url("../images/exp-bg.png");
  background-repeat: no-repeat;
  background-position: left 50%;
  margin-top: 5%;
}
.experience-header {
  text-align: center;
}
.experiencces-iteam {
  box-shadow: 10px 10px 40px #494545;
  margin: 0 40px 0 40px;
  padding: 60px;
  border-radius: 10px;
}
.border-left1 {
  border-left: 10px solid #ff6347;
}
.border-left2 {
  border-left: 10px solid #0000ff;
}
footer p{
  padding: 40px;
  margin-top: 40px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  background-color: black;
  border-radius: 10px;
}
